      
      <h2>Coming soon</h2>
      <ul>
        <li>User login</a></li>
        <li>Image upload</a></li>
        <li>Image deletion</li>
        <li>Specify custom URL</li>
        <li>Image hit tracking</li>
        <li>User creation</li>
        <li>User deletion</li>
        <li>User modification</li>
      </ul>
      <h2>Links</h2>
      <ul>
        <li><a href="http://ckxng.github.io/imgawsome">Homepage</a></li>
        <li><a href="https://github.com/ckxng/imgawsome.git">Repository</a></li>
        <li><a href="https://github.com/ckxng/imgawsome/issues">Issue Tracker</a></li>
      </ul>
      